body{
    background-color: cadetblue;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

button{
    background-color: blueviolet;
    color: violet;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 10%;
    font-family: 'Indie Flower', cursive;
}

button:hover{
    background-color: rgb(219, 55, 83);
    color: rgb(202, 32, 202);
}

img{
    width: 400px;  
    height: 400px;
}

ul {
    list-style-position: inside;
    padding: 0;
    color:rgb(219, 55, 83);
}

h2{
    color: rgb(219, 55, 83);
}

h1{
    color: rgb(219, 55, 83);
}

p{
    color:rgb(219, 55, 83);
}
    
